<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.doenough.contestapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ForgetPasswordActivity" />
        <activity android:name=".DetailActivity" />
        <activity android:name=".NewContestActivty" />
        <activity android:name=".PersonDetailActivity" />
        <activity
            android:name=".EventsActivity"
            android:label="@string/title_activity_events"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VoteAnyoneActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".VerificationActivity" />
        <activity
            android:name=".AccountActivity"
            android:label="@string/title_activity_account"
            android:parentActivityName=".EventsActivity"
            tools:targetApi="jelly_bean" />
        <activity android:name=".EditAccountActivity"
            android:label="Edit Account"
            android:parentActivityName=".AccountActivity"
            tools:targetApi="jelly_bean" />
    </application>

</manifest>